.header__cart {
  height: 36px;
  width: 80px;
  margin-top: -26px;
  margin-left: 1100px;
}

.CartIcon {
  margin-left: -25px;
  margin-top: -36px;
}

.header__cart-text {
  width: 64px;
  height: 23px;
  font-size: 13px;
  font-family: Montserrat;
  margin-top: -20px;
}

.header__sum {
  font-family: Montserrat;
  border-radius: 12px;
  background-color: #e3e8f0;
  width: 20px;
  height: 20px;
  margin-left: 40px;
  margin-top: -26px;
  text-align: center;
  font-size: 13px;
}

.header__sing-in {
  border-radius: 16px;
  border-width: 2px;
  border-color: #e3e8f0;
  border-style: solid;
  width: 81px;
  height: 28px;
  position: absolute;
  top: 3%;
  margin-left: 80px;
  background-color: transparent;
}

.header__menu {
  width: 500px;
  height: 33px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 419px;
  margin-top: -32px;
}

.header__items {
  display: inline-block;
  padding: 5px;
  font-size: 15px;
  color: #343e5b;
}

header {
  width: 1400px;
  height: 90px;
  margin: auto;
  border-bottom: 2px solid #f0f2f7;
}

.Portland-logo {
  width: 92px;
  height: 25px;
  margin-left: 116px;
  margin-top: 32px;
}
.main-menu {
  height: 25px;
  width: 600px;
  color: #343e5b;
  margin-left: 95px;
  margin-top: -19px;
  padding: 15px;
}

.main__items {
  display: inline-block;
  padding: 15px;
  font-size: 15px;
  color: #b9bed1;
  margin-top: 5px;
}

.main__items-b {
  color: #343e5b;
  display: inline-block;
  padding: 15px;
  font-size: 15px;
  margin-top: 5px;
}
.Main {
  height: 57px;
  width: 1400px;
}
.main__sup {
  font-family: 'Montserrat', sans-serif;
  width: 60px;
  height: 9px;
  margin-left: 971px;
  margin-top: -34px;
  font-size: 12px;
  color: #b9bed1;
  padding: 15px;
}

a {
  text-decoration: none;
}
.main__search {
  height: 25px;
  width: 130px;
  margin-left: 1060px;
  margin-top: -40px;
  border-left: 2px solid #f0f2f7;
  border-right: 2px solid #f0f2f7;
  background: ;
  padding: 15px;
}

.main__search__input {
  border: 0px solid #000;
  /* Параметры рамки */
  min-height: 20px;
  /* Минимальная высота */
}

.search {
  border: none;
  /* Убираем рамку */
  outline: none;
  /* Убираем свечение в Chrome и Safari */
  -webkit-appearance: none;
  /* Убираем рамку в Chrome и Safari */
  width: 120px;
  /* Ширина поля */
  vertical-align: middle;
  /* Выравнивание по середине */
  margin-top: -40px;
  margin-left: 10px;
}

.searchIcon {
  margin-left: -10px;
}

div.offer {
  background: url("../img/Placeholder.jpg");
  width: 1400px;
  height: 500px;
  position: absolute;
}

.offer__info {
  width: 489px;
  height: 312px;
}

.offer__h1 {
  width: 350px;
  height: 86px;
  margin-left: 213px;
  margin-top: 103px;
  color: #ffffff;
  font-size: 47px;
  font-weight: bold;
}

.offer__p {
  width: 461px;
  height: 65px;
  margin-left: 210px;
  margin-top: 40px;
  color: #ffffff;
  font-family: 'Crimson Text', serif;
}

.offer__btn {
  border-radius: 21px;
  background-color: #2754eb;
  border-style: none;
  width: 165px;
  height: 42px;
  margin-left: 200px;
  margin-top: 40px;
  color: #ffffff;
  font-size: 12px;
}

.offer__info a {
  color: #ffffff;
  font-size: 12px;
}


