body {
width: 1400px;
height: 630px;
margin:auto;
font-family: Montserrat;
font-family: 'Montserrat', sans-serif;
letter-spacing: 0.751px;
box-shadow: 0px 10px 40px 10px rgba(219, 219, 219, 1)
}

